.App {
  text-align: center;
  height: 100vh;
}

Nav {
  font-size: larger;
  font-weight: bolder;
  font-family: 'Courier New', Courier, monospace;
}

.navbar-container {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.container {
  height: 100%;
}

#basic-navbar-nav{
  display: block;
  overflow: hidden;
  height: 90%;
}

.nav-link {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: auto;
  width: 100%;
  max-width: 170px;
}


NavDropdown {
  font-family: 'Courier New', Courier, monospace;
}

.Create {

display: flex;
justify-content: center;
align-items: center;
}

a {
text-decoration: none;
}

.home-text {
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000
}